[Desktop Entry]
Type=Application
Version=0.1.4
Name=KEasyDitor
GenericName=KDE Theme Editor
Comment=Visual editor for Klassy and Kvantum KDE themes
Exec=keasyditor
Icon=keasyditor
Categories=Settings;DesktopSettings;Qt;KDE;
Keywords=theme;kde;klassy;kvantum;style;colors;appearance;
StartupWMClass=keasyditor
Terminal=false
